<div class="m-1 navig">
    <ul class="nav nav-tabs d-flex justify-content-center">
        <li class="nav-item">
            <a class="nav-link" routerLink="../login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" routerLink="../register">Register</a>
        </li>
    </ul>
</div>
<div class="col-12 d-flex justify-content-center">
    <div class="card m-2 card-custom-width" style="width: 30rem;">
        <div class="card-body">
            <h2 class="card-title text-center">Register</h2>
            <form [formGroup]="registerForm" (ngSubmit)="submitRegister()">

                <div class="form-outline mb-4">
                    <label class="form-label" for="registerName">Username</label>
                    <input formControlName="username" type="text" id="registerName" class="form-control" placeholder="Enter your username" required />
                    <p *ngIf="this.registerForm.get('username')?.invalid && this.registerForm.get('username')?.touched"><small class="text-danger">username is required</small></p>
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label" for="registerEmail">Email address</label>
                    <input formControlName="email" type="email" id="registerEmail" class="form-control" placeholder="Enter your email" required />
                    <p *ngIf="this.registerForm.get('email')?.invalid && this.registerForm.get('email')?.touched"><small class="text-danger">Email is required</small></p>
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label" for="registerPassword">Password</label>
                    <input formControlName="password" type="password" id="registerPassword" class="form-control" placeholder="Create a password" required />
                    <p *ngIf="this.registerForm.get('password')?.invalid && this.registerForm.get('password')?.touched"><small class="text-danger">Password is required</small></p>
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="registerDob">Date of Birth</label>
                    <input formControlName="date" type="date" id="registerDob" class="form-control" max="2020-01-01" required />
                    <p *ngIf="this.registerForm.get('date')?.invalid && this.registerForm.get('date')?.touched"><small class="text-danger">birthday is required (max 2020-01-01)</small></p>
                </div>

                <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary btn-block w-100">Register</button>
                <div *ngIf="emailError" class="error-message">
                    Пользователь с такой почтой уже зарегистрирован!
                </div>
                <div *ngIf="dateError" class="error-message">
                    Максимальная дата 01.01.2020
                    Минимальная дата 01.01.2018
                </div>
            </form>
        </div>
    </div>
</div>
