doctype html
html
  head
    include headers/meta.pug
    include headers/links.pug
    include headers/scripts.pug
    title Main
  body
    div.py-4.text-center.container
      h1 Список пользователей
    div.container
      div.row#users
  

    
    script(src="/index.js")


style. 
    #return-button {
        position: fixed;
        z-index: 1000;
        right: 5%;
        bottom: 5%;
        opacity: 0.7;
        border-radius: 30px;
        font-size: 18px;

        @media (max-width: 590px) {
            font-size: 12px;
        }
      }

a(href="http://localhost:4200/main/news").btn.btn-primary#return-button Вернуться на Dominoc