<div class="m-1 navig">
    <ul class="nav nav-tabs d-flex justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="../register">Register</a>
        </li>
    </ul>
</div>

    <div class="col-12 d-flex justify-content-center">
        <div class="card m-2 card-custom-width" style="width: 25rem;">
            <div class="card-body">
                <h2 class="card-title text-center">Login</h2>
                <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
                    <div class="form-outline mb-4">
                        <label class="form-label" for="loginEmail">Email address</label>
                        <input formControlName="email" type="email" id="loginEmail" class="form-control" placeholder="Enter your email" required />
                        <p *ngIf="this.loginForm.get('email')?.invalid && this.loginForm.get('email')?.touched"><small class="text-danger">Email is required</small></p>
                    </div>
                    <div class="form-outline mb-4">
                        <label class="form-label" for="loginPassword">Password</label>
                        <input formControlName="password" type="password" id="loginPassword" class="form-control" placeholder="Enter your password" required />
                        <p *ngIf="this.loginForm.get('password')?.invalid && this.loginForm.get('password')?.touched"><small class="text-danger">Password is required</small></p>
                    </div>
                    <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary btn-block w-100">Login</button>    
                </form>
                <div *ngIf="loginError" class="error-message">
                    Неверный логин или пароль
                </div>
            </div>
        </div>
    </div>
    
