
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<div class="container">
    <div class="border border-left border-right px-0">
      <div class="p-3 border-bottom">
        <h4 class="d-flex align-items-center mb-0">
          News
        </h4>
      </div>
      <div>

        <div>


            
          <div class="d-flex p-3 border-bottom">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (29).webp" class="rounded-circle"
              height="50" alt="Avatar"/>
            <div class="d-flex w-100 ps-3">
              <div>
                <a href="" style="text-decoration: none;">
                  <h6 class="text-body">
                    Miley Cyrus
                    <span class="small text-muted font-weight-normal"> mileycyrus</span>
                  </h6>
                </a>
                <p style="line-height: 1.2;">
                  Test text
                </p>
                
              </div>
            </div>
          </div>




 
          
          <div class="d-flex p-3 border-bottom">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (24).webp" class="rounded-circle"
              height="50" alt="Avatar"/>
            <div class="d-flex w-100 ps-3">
              <div>
                <a href="" style="text-decoration: none;">
                  <h6 class="text-body">
                    Anna Doe
                    <span class="small text-muted font-weight-normal"> annadoe</span>
                  </h6>
                </a>
                <p style="line-height: 1.2;">
                  Error cumque temporibus eum pariatur ducimus facere? Obcaecati fugit, nobis
                  eos <a href="">#deserunt</a> odit libero voluptatibus, iste laudantium,
                  tempore ratione ut.
                </p>
                <div class="d-flex justify-content-center">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp"
                  class="img-fluid rounded mb-3" alt="Fissure in Sandstone" />
                </div>
                
                
              </div>
            </div>
          </div>

          
          <div class="d-flex p-3 border-bottom ">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (3).webp" class="rounded-circle"
              height="50" alt="Avatar"/>
            <div class="d-flex w-100 ps-3">
              <div>
                <a href="" style="text-decoration: none;">
                  <h6 class="text-body">
                    Mark Twain
                    <span class="small text-muted font-weight-normal"> marktawin</span>
                  </h6>
                </a>
                <p style="line-height: 1.2;">
                  Obcaecati fugit, nobis eos odit libero voluptatibus, iste laudantium,
                  tempore ratione ut.
                </p>
                <div class="ratio ratio-16x9 mb-3">
                    <iframe src="https://www.youtube.com/embed/vlDzYIIOYmM" title="YouTube video" allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </div>          
        </div>
      </div>
    </div>
  </div>